<div id="footer">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<i class="fa fa-envelope-o fa-3x icon-muted"></i>
				<h2>Contact</h2>
				cwangwiwatta(at)smu.edu
				<br />
			</div>
			<div class="col-md-6">
				<i class="fa fa-globe fa-3x icon-muted"></i>
				<h2>SMU Ubicomp Lab</h2>
				<a href="https://github.com/SMU-Ubicomp-Lab">Github</a> / <a href="https://www.smuubucomp.org">SMU Ubicomp</a>
			</div>
		</div>
	</div>
	
	<div class="footer-leanote">
		Copyright © <a href="http://www.smuubucomp.org">SMU Ubicomp</a>
		<br/>
		Proudly powered by <a href="http://www.smuubucomp.org">MAI Writer and Leanote</a>
	</div>
	
</div>
